.promotion__first-wrapper {
  display: flex;
  align-items: center;
}
.promotion__wrapper-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  .promotion-dropdawn {
    position: relative;
    .this {
      border-radius: 5px;
      padding: 8px 16px;
      background-color: #eaecef;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      &::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border: 2px solid transparent;
        border-bottom-color: #333;
        border-left-color: #333;
        transform: rotate(-45deg) translateY(-3px);
      }
    }
  }
  .variants {
    position: absolute;
    top: calc(100% + 5px);
    background-color: #eaecef;
    .variant {
      padding: 8px 16px;
    }
  }
}

.check {
  input {
    display: none;
    &:checked {
      & ~ label {
        &::before {
          background-image: url(../../images/svg/check.svg);
          background-size: 14px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
      &::before {
        background-image: url(../../images/svg/ch-g.svg);
        background-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(51, 51, 51, 0.5);
      border-radius: 4px;
    }
  }
}
